*{
    box-sizing: border-box;
}
.grid{
    width: 100%;
    display: block;
    padding: 0;
}
.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    margin: 0;
}
.container {
    padding: 0;
    text-align: center ;
    color: #fff;
    font-size: 100px;
}
.container p{
    padding : 100px 0;
    font-size: 50px;
}
h1{ 
    font-size: 50px;
    text-align: center;
    align-items: center;
    display: block;
    line-height: 260px;
    margin: 0;
}
.course-item{
    background-color: chocolate;
    height: 260px;
}
    
ul{ 
    margin: 0;
}


@media (max-width:1023px){
    .course-item{
        margin-top: 16px;
    }
}

/* > PC low resolution */
@media  (min-width: 1024px ) and (max-width:1239px){
    .wide{
        width: 984px;
    }
}

/* Tabltet - PC */
@media (min-width: 740px ) and (max-width:1023px){
    .wide{
        width: 644px;
    }
}


