    :root{
    --primary--color: #f94d2f;
    --while--color : #fff;
    --black--color : #000;
    --text--color  :  #333; 
    --border--color : #dbdbdb;
    --navbar-height : 34px;
    --header-height : 120px ;
    --header-with-search-height : calc(var(--header-height) - var(--navbar-height));
    --star-gold--color : #FFCE3E; 
    --header-sort-bar-height : 46px;
}
*{
    box-sizing: inherit;
    
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;    
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Reponsive */

.grid{
    max-width: 100%;
    
}
.wide{
    max-width: 1200px;;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.row{
    
}
/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column{
    
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }to{
        transform: scale(var(--growth-to));
    }
}

/* Modal layout  */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom : 0;
    left :0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.4);
    
}
.modal__body{
    --growth-from: 0.7;
    --growth-to : 1;
    margin: auto;
    position: relative;
    z-index: 1;         /* Cho nổi lên trên overlay */
    animation: growth linear 0.1s;
    
}
.auth-form__input{
    display: block;
}
/*button style*/
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text--color);
    background-color: #fff;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn--size-m{
    height: 36px;
}
.btn:hover{
   
}
.btn.btn--primary{    /* tìm tới thẻ yêu cầu thẻ có phải có cả 2 class btn, và btn--primary */
    background-color: var(--primary--color);
    color: var(--while--color);
}
.btn.btn--disabled{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
/* Selection */
.select-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    background-color: var(--while--color);
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    color: rgb(131,131,131);
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 7px);
    border-radius: 2px;
    background-color: var(--while--color);
    list-style: none ;
    padding: 10px 12px;
    display: none;
    z-index: 1;
}
.select-input__list::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    top: -4px;
    background-color: transparent;
}
.select-input__item{
    
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text--color);
    text-decoration: none;
    padding: 5px 0;
    display: block;
}
.select-input__link:hover{
    color: var(--primary--color);
}
/* Pagination */ 
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item__link{
    --height: 30px;
    min-width: 40px;
    text-decoration: none;
    color: #939393;
    display: block;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
    height: var(--height);
}
.pagination-item__item-icon{
    
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary--color);
    color: var(--while--color);
}
.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}
